.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #d56528;
  display: flex;
  align-items: center;
  .logo{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex: 30;
    &__image{

    }
    &__link{
      color: #400d01;
      font-size: 36px;
      text-decoration: none;
    }
  }
  .menu{
    flex: 60;
    display: flex;

    &__item{

      list-style: none;
      flex: 15;
    }
    &__link{
      color: #e4e1ee;
      font-size: 30px;
      text-decoration: none;
    }

  }
  .cart{
    display: flex;
    align-items: center;
    height: 64px;
    width: 64px;
    flex: 10;
    background: url(../app/images/cart.png) no-repeat;
    &__count{
      margin: 28px 0 0 15px;
      background-color: #8c391b;
      padding: 5px 13px;
      border-radius: 20px;
      color: #fff;
    }
  }
}