<div class="header">
<div class="logo">
    <img class="logo__image" src="images/auction.png" alt="">
    <span class="logo__title"><a class="logo__link" ui-sref="main">SOLD</a></span>
</div>

<ul class="menu">
    <li class="menu__item"><a class="menu__link" ui-sref="about">About US</a></li>
    <li class="menu__item"><a class="menu__link" ui-sref="sell">Sell</a></li>
    <li class="menu__item"><a class="menu__link" ui-sref="goods">Goods</a></li>
    <li class="menu__item"><a class="menu__link" ui-sref="registration">Sing in</a></li>
</ul>
<div class="cart">
    <span class="cart__count">0</span>
</div>
</div>