<div class="header">
    <img class="logo" src="" alt="">
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" ui-sref="about">About US</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="sell">Sell</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="goods">Goods</a></li>
        <li class="menu__item"><a class="menu__link" ui-sref="registration">Sing in</a></li>
    </ul>
    <div class="cart">
        <img class="cart_logo" src="" alt="">
        <span class="cart_count">0</span>
    </div>
</div>